<div ng-controller="InputCtrl">

  <!-- Variable(s) -->
  <tm1-ui-element-list tm1-instance="dev" tm1-dimension="Period" tm1-subset="Default" ng-model="lists.periods"></tm1-ui-element-list>
  <tm1-ui-element-list tm1-instance="dev" tm1-dimension="Account" 
    tm1-mdx="{TM1FILTERBYLEVEL({  TM1DRILLDOWNMEMBER ( {[Account].[{{values.account}}]}, ALL, RECURSIVE )  }, 0)}" 
    tm1-attributes="Description" ng-model="lists.childAccounts">
  </tm1-ui-element-list>

  <h1>
    <span style="float: left; width: 50px; "><i ng-if="$root.isLoading"  class="fa fa-cog fa-spin"></i><i ng-if="!$root.isLoading" class="fa fa-book"></i></span> Input
  </h1>
  
  <!-- Charts -->
  <div class="jumbotron">
    <div class="row">
      <!-- Chart for Net Income -->
      <div class="col-md-6">
        <tm1-ui-chart tm1-chart-type="multiBar" tm1-height="300" tm1-axis-label-x="Amount(s)" tm1-axis-label-y="" tm1-duration="2000" tm1-margin="{top: 10, right: 10, bottom: 10, left: 10}">
          <tm1-ui-chart-dbr ng-repeat="period in lists.periods" tm1-label="{{period.alias}}" tm1-series="Actual" tm1-instance="dev" tm1-cube="General Ledger" tm1-elements="Actual,2012,{{period.key}},Local,Finland,Executive General and Administration,Net Income,Amount"></tm1-ui-chart-dbr>
          <tm1-ui-chart-dbr ng-repeat="period in lists.periods" tm1-label="{{period.alias}}" tm1-series="Budget" tm1-instance="dev" tm1-cube="General Ledger" tm1-elements="Budget,2012,{{period.key}},Local,Finland,Executive General and Administration,Net Income,Amount"></tm1-ui-chart-dbr>
        </tm1-ui-chart>
      </div>

      <!-- Chart for Selected Component -->
      <div class="col-md-6" ng-if="values.account">
        <tm1-ui-chart tm1-chart-type="multiBar" tm1-color-scheme='["247BA0","70C1B3","#B2DBBF"]' tm1-height="300" tm1-axis-label-x="Amount(s)" tm1-axis-label-y="" tm1-duration="2000" tm1-margin="{top: 10, right: 10, bottom: 10, left: 10}">
          <tm1-ui-chart-dbr ng-repeat="period in lists.periods" tm1-label="{{period.alias}}" tm1-series="Actual" tm1-instance="dev" tm1-cube="General Ledger" tm1-elements="Actual,2012,{{period.key}},Local,Finland,Executive General and Administration,{{values.account}},Amount"></tm1-ui-chart-dbr>
          <tm1-ui-chart-dbr ng-repeat="period in lists.periods" tm1-label="{{period.alias}}" tm1-series="Budget" tm1-instance="dev" tm1-cube="General Ledger" tm1-elements="Budget,2012,{{period.key}},Local,Finland,Executive General and Administration,{{values.account}},Amount"></tm1-ui-chart-dbr>
        </tm1-ui-chart>
      </div>
    </div>
    <p><a class="btn btn-primary" href="#" role="button">Back to Report</a></p>
  </div>

  <!-- Data Entry -->
  <div class="row">
  	<div class="col-md-12">
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Account</th>
            <th ng-repeat="period in lists.periods">
              {{$first ? 'Year' : period.alias}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="headAccount in lists.headAccounts">
            <td nowrap><span ng-class="{'tm1-ui-indent':$last}">{{headAccount}}</span></td>
            <td ng-repeat="period in lists.periods">
              <tm1-ui-dbr tm1-instance="dev" tm1-cube="General Ledger" tm1-elements="Actual,2012,{{period.key}},Local,Finland,Executive General and Administration,{{headAccount}},Amount"></tm1-ui-dbr>
            </td>
          </tr>

          <tr ng-repeat="account in lists.childAccounts">
              <td nowrap><span class="tm1-ui-indent" ng-repeat="item in [1,2]"></span>{{account.alias}}</td>
              <td ng-repeat="period in lists.periods">
                <tm1-ui-dbr tm1-instance="dev" tm1-cube="General Ledger" tm1-elements="Actual,2012,{{period.key}},Local,Finland,Executive General and Administration,{{account.key}},Amount"></tm1-ui-dbr>
              </td>
            </tr>
        </tbody>
      </table>
  	</div>
  </div>
    

</div>