<div ng-controller="PnLCtrl">

  <h1>
    <span style="float: left; width: 50px; "><i ng-if="$root.isLoading"  class="fa fa-cog fa-spin" ></i><i ng-if="!$root.isLoading" class="fa fa-cube"></i></span> Profit and Loss review and input
  </h1>

    <tm1-ui-element-list
      tm1-instance="dev"
      tm1-dimension="Account"
      tm1-subset="Net Income"
      ng-model="lists.accounts">
    </tm1-ui-element-list>

    <tm1-ui-element-list
      tm1-instance="dev"
      tm1-dimension="Year"
      tm1-mdx="{[Year].[{{selections.year}}],[Year].[{{selections.nextYear}}]}"
      ng-model="lists.years">
    </tm1-ui-element-list>

    <tm1-ui-element-list
      tm1-instance="dev"
      tm1-dimension="Period"
      tm1-subset="Months"
      ng-model="lists.months">
    </tm1-ui-element-list>

    <tm1-ui-element-list
      tm1-instance="dev"
      tm1-dimension="Period"
      tm1-subset="Quarters"
      ng-model="lists.quarters">
    </tm1-ui-element-list>


<div class="row">

<div class="col">

<table class="table  table-condensed">

  <thead>
    <tr>
      <td></td>
      <td ng-repeat="year in lists.years" colspan="6" dynamic-colspan year="{{year.key}}" current-year='{{selections.year}}' lists-months="lists.months" lists-quarters="lists.quarters">
        {{year.key}} 
      </td>
    </tr>
    <tr>
      <td></td>
      <td ng-repeat-start="year in lists.years"></td>
      <td ng-repeat="months in lists.quarters" ng-if="year.key==selections.year">{{months.key}}</td>
      <td ng-repeat="months in lists.months" ng-if="year.key==selections.nextYear">{{months.key}}</td> 
      <td ng-repeat-end>FY</td>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="account in lists.accounts">
      <td>
        {{account.alias}}
      </td>
      <td ng-repeat-start="year in lists.years"></td>
      <td ng-repeat="months in lists.quarters" ng-if="year.key==selections.year">
        <tm1-ui-dbr-read-only
              tm1-instance="dev"
              tm1-cube="General Ledger"
              tm1-elements="Actual,{{year.key}},{{months.key}},Local,Finland,1,{{account.key}},Amount"
              >
        </tm1-ui-dbr-read-only>
      </td>
      <td ng-repeat="months in lists.months" ng-if="year.key==selections.nextYear">
        <tm1-ui-dbr-read-only
              tm1-instance="dev"
              tm1-cube="General Ledger"
              tm1-elements="Actual,{{year.key}},{{months.key}},Local,Finland,1,{{account.key}},Amount"
              >
        </tm1-ui-dbr-read-only>
      </td>
      <td ng-repeat-end>
        <tm1-ui-dbr-read-only
          tm1-instance="dev"
          tm1-cube="General Ledger"
          tm1-elements="Actual,{{year.key}},Year,Local,Finland,1,{{account.key}},Amount"
          >
        </tm1-ui-dbr-read-only>
      </td>
      <td>
        <a ui-sref="input({account:account.key})">Edit</a>
      </td>

    </tr>
  </tbody>

</table>

</div>

</div>
    

</div>